* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center/cover;
    color: white;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.home-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.progress-bar {
    width: 100%;
    height: 22px;
    background: #ddd;
    border-radius: 4px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

.progress-bar .progress {
    display: block;
    height: 100%;
    background: #5bc0cb;
}

.progress-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.notify-button {
    background-color: lightskyblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.notify-button:hover {
    background-color: lightseagreen;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
    gap: 20px;
}

.icon img:hover {
    transform: scale(1.2);
}